<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albedo.java.modules.sys.repository.UserRepository">

    <sql id="pageUserColumn">
        a.id_ AS `id`,
        a.activated_ AS `activated`,
        a.activation_key AS `activationKey`,
        a.created_by AS `createdBy`,
        a.created_date AS `createdDate`,
        a.description_ AS `description`,
        a.email_ AS `email`,
        a.login_id AS `loginId`,
        a.lang_key AS `langKey`,
        a.last_modified_by AS `lastModifiedBy`,
        a.last_modified_date AS `lastModifiedDate`,
        a.name_ AS `name`,
        a.org_id AS `orgId`,
        a.password_hash AS `password`,
        a.phone_ AS `phone`,
        a.reset_key AS `resetKey`,
        a.reset_date AS `resetDate`,
        a.status_ AS `status`,
        a.version_ AS `version`
    </sql>
    <!-- userVo结果集 -->
    <resultMap id="userRelationResultMap" type="com.albedo.java.modules.sys.domain.User">
        <id property="id" column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="activated" column="activated" javaType="boolean" jdbcType="BIT"/>
        <result property="activationKey" column="activationKey" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createdBy" column="createdBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createdDate" column="createdDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="description" column="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="email" column="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="loginId" column="loginId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="langKey" column="langKey" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="lastModifiedBy" column="lastModifiedBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="lastModifiedDate" column="lastModifiedDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="name" column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="orgId" column="orgId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="password" column="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="resetKey" column="resetKey" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="resetDate" column="resetDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="version" column="version" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <association property="org" column="org" autoMapping="true" select="com.albedo.java.modules.sys.repository.OrgRepository.selectById"/>
        <collection property="roles" column="id" select="com.albedo.java.modules.sys.repository.RoleRepository.selectListByUserId"
                    ofType="com.albedo.java.modules.sys.domain.Role" javaType="java.util.List"/>
    </resultMap>

    <sql id="selectUserRelation">
        SELECT
        <include refid="pageUserColumn"/>
        FROM
        sys_user_t a
    </sql>
    <select id="selectUserByLoginId" resultMap="userRelationResultMap">
        <include refid="selectUserRelation"/> where a.login_id=#{loginId}
    </select>
    <select id="addUserRoles" parameterType="com.albedo.java.modules.sys.domain.User">
        insert into sys_user_role_t (user_id,role_id)
        values
        <foreach collection="roleIdList" item="item" separator=",">
            (#{id},#{item})
        </foreach>
    </select>

    <select id="deleteUserRoles">
        DELETE FROM sys_user_role_t where user_id=#{userId}
    </select>

</mapper>
